/* universal styles  */

section {
  min-height: 50vh;
  border-bottom: solid 1px rgba(238, 238, 238, 1);
  padding: 5vh 10vw;
}

section:nth-of-type(2n + 1) {
  background: whitesmoke;
}

/* main styles  */

nav a {
  color: rgba(255, 255, 255, 1);
}

/* hero banner styles  */

section.hero {
  height: 100vh;
  margin-top: -10vh;
  padding: 0;
  background: rgba(238, 238, 238, 1) url("../images/yellow.jpg") no-repeat center center;
  color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

section.hero a {
  color: rgba(255, 255, 255, 1);
}

/* about section styles  */

section.home-about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

section.home-about div.photo-and-info {
  width: 50%;
  text-align: center;
}

div.photo-and-info img {
  border-radius: 50%;
}

div.photo-and-info strong, div.photo-and-info span {
  display: block;
  margin: 10px;
}

section.home-about p {
  margin: 0;
  width: 50%;
  height: auto;
}

/* universal section styles  */

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
