/* modifications to main styles  */

header {
  background-color: rgba(0, 0, 0, 0);
}

nav a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

main {
  margin-top: 0;
}

/* hero banner styles  */

section.hero {
  height: 100vh;
  padding: 0;
  background: rgba(238, 238, 238, 1) url("../images/yellow.jpg") no-repeat center center;
  background-attachment: fixed;
  color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

section.hero a {
  color: rgba(255, 255, 255, 1);
}

/* about section styles  */

section.home-about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

section.home-about div.photo-and-info {
  width: 50%;
  text-align: center;
}

div.photo-and-info img {
  border-radius: 50%;
}

div.photo-and-info strong, div.photo-and-info span {
  display: block;
  margin: 10px;
}

section.home-about div.about-info {
  margin: 0;
  width: 50%;
  height: auto;
}
