/* universal styles  */

html, body {
  height: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: rgba(209, 154, 1, 1);
}

* {
  font-family: Futura, sans-serif;
}

/* header styles  */

header {
  background-color: rgba(209, 154, 1, 1);
  position: fixed;
  top: 0;
  width: 100%;
}

header ul {
  display: flex;
  flex-wrap: wrap;
}

header ul li {
  display: inline-block;
  margin: 0 1rem;
}

header ul > li:first-child {
  margin: 0 auto 0 2rem;
}

header ul > li:last-child {
  margin-right: 2rem;
}

header ul li a {
  display: inline-block;
  padding: 0.5rem;
  min-width: 6rem;
  text-align: center;
}

/* nav styles  */

nav ul {
  margin: 0;
}

nav ul li a {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

/* main styles  */

main {
  margin-top: 5vh;
}

/* footer styles  */

footer {
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: rgba(238, 238, 238, 1);
}

/* images styles  */

img {
  max-width: 300px;
}

/* sections styles  */


section {
  min-height: 50vh;
  border-bottom: solid 1px rgba(238, 238, 238, 1);
  padding: 5vh 10vw;
}

section:nth-of-type(2n) {
  background: whitesmoke;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
